.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  /*.App-logo {
    animation: App-logo-spin infinite 20s linear;
  }*/
}
.h1{
  font-family: 'Fira Sans Condensed', Ariel,sans-serif;
}

.App-header {
  background-color: #B3D33E;
  min-height: 100vh;
  display: flex;
  font-family: 'Fraunces', Ariel,sans-serif;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #2f9f25;
}


@keyframes dissolve {
  0% {
    background: #000;
  }

  100% {
    background: #FFF;
  }
}